/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f172a; /* dark blue */
  color: #ffffff;
}

/* Center halaman */
.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Movie Card */
.movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  background: #020617;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Poster */
.movie-poster {
  width: 300px;
  object-fit: cover;
}

/* Content */
.movie-content {
  padding: 30px;
  flex: 1;
}

.movie-content h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

.movie-content p {
  line-height: 1.6;
  color: #cbd5f5;
  margin-bottom: 25px;
}

/* Buttons */
.movie-buttons {
  display: flex;
  gap: 15px;
}

.btn-play {
  background: #e11d48;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn-play:hover {
  background: #be123c;
}

.btn-trailer {
  background: transparent;
  color: white;
  padding: 12px 22px;
  border: 1px solid #64748b;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn-trailer:hover {
  background: #1e293b;
}

/* Responsive */
@media (max-width: 768px) {
  .movie-card {
    flex-direction: column;
  }

  .movie-poster {
    width: 100%;
    height: 350px;
  }

  .home-bg {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  }

  .video-wrapper {
  border: none;
  background: #000;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
  max-width: 900px;
  width: 100%;
}

.video-wrapper iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 20px;
  background: #000;
}

.choices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  max-width: 600px;
  margin: 20px auto;
}


.choices button {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #1f1f1f;
  color: white;
  transition: background 0.2s;
}

.choices button:hover {
  background: #333;
}



}
